<h3><%= @filename %></h3>

<table class="line-profile table table-bordered">
  <thead>
    <tr>
      <th>Wall</th>
      <th>CPU</th>
      <th>Idle</th>
      <th>Calls</th>
      <th class="fill-column"></th>
    </tr>
  </thead>
  <tr>
    <%
        line_data = @file_source.split("\n").
          each_with_index.
          each_with_object({ :wall  => [],
                             :cpu   => [],
                             :idle  => [],
                             :calls => []}) do |(line, index), data|
            data[:wall]  << profile_line_wall_time(@file_profile, index)
            data[:cpu]   << profile_line_cpu_time(@file_profile, index)
            data[:idle]  << profile_line_idle_time(@file_profile, index)
            data[:calls] << profile_line_calls(@file_profile, index)
          end
    %>
    <td class="stats">
<pre>
<%- line_data[:wall].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats">
<pre>
<%- line_data[:cpu].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats">
<pre>
<%- line_data[:idle].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats">
<pre>
<%- line_data[:calls].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= datum %></span>
<%- end -%>
</pre>
    </td>
    <td>
      <%= raw(Pygments.highlight(@file_source, :lexer => 'ruby')) %>
    </td>
  </tr>
</table>
