<div class="page-header">
  <h1>
    <% if @profile.description %>
      <%= @profile.description %>
    <% else %>
      <em>Unknown profile</em>
    <% end %>
  </h1>
  <div class="row">
    <div class="span2">
      <strong><%= @profile.hostname %>:<%= @profile.pid %></strong>
    </div>
    <div class="span2">
      <%= time_ago_in_words(@profile.created_at) %> ago
    </div>
    <div class="span2">
      <em><%= number_with_delimiter(@profile.total_time / 1000.0) %>ms</em>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>CPU</th>
      <th>Calls</th>
      <th>File</th>
    </tr>
  </thead>
  <% @sorted_profile.each do |filename, file_profile| %>
  <tbody>
    <tr class="<%= file_profile_class(file_profile) %>">
      <td><%= (file_profile['total'] / 1000.0).round(2) %>ms</td>
      <td><%= (file_profile['total_cpu'] / 1000.0).round(2) %>ms</td>
      <td></td>
      <td><a href="#" class="js-lineprof-file"><%= filename %></a></td>
    </tr>
    <% @profile.file_sources[filename].split("\n").each_with_index do |line, idx| %>
    <tr class="line-profile">
      <td><%= profile_line_wall_time(line, file_profile['lines'][idx.to_s]) %></td>
      <td><%= profile_line_cpu_time(line, file_profile['lines'][idx.to_s]) %></td>
      <td><%= profile_line_calls(line, file_profile['lines'][idx.to_s]) %></td>
      <td><pre><%= raw line %></pre></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
