<div class="page-header">
  <h1>
    <% if @profile.description %>
      <%= @profile.description %>
    <% else %>
      <em>Unknown profile</em>
    <% end %>
  </h1>

  <div class="row">
    <div class="span2">
      <strong>Wall:</strong>
      <%= number_to_human(@profile.total_time / 1000.0,
                          precision: 2,
                          significant: false,
                          units: { unit: 'ms', thousand: 's' }) %>
    </div>
    <div class="span2">
      <strong>CPU:</strong>
      <%= number_to_human(@profile.cpu_time / 1000.0,
                          precision: 2,
                          significant: false,
                          units: { unit: 'ms', thousand: 's' }) %>
    </div>
    <div class="span2">
      <strong>Idle:</strong>
      <%= number_to_human(@profile.idle_time / 1000.0,
                          precision: 2,
                          significant: false,
                          units: { unit: 'ms', thousand: 's' }) %>
    </div>
    <div class="span6">
      <strong>Host:</strong>
      <%= @profile.hostname %>:<%= @profile.pid %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <strong>When:</strong>
      <%= time_ago_in_words(@profile.created_at) %> ago
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Wall</th>
      <th>CPU</th>
      <th>Idle</th>
      <th class="fill-column">File</th>
    </tr>
  </thead>
  <% @sorted_profile.each do |filename, file_profile| %>
  <tbody>
    <tr class="<%= file_profile_class(file_profile) %>">
      <td><%= profile_time(file_profile['total']) %></td>
      <td><%= profile_time(file_profile['total_cpu']) %></td>
      <td><%= profile_time(file_profile['total'] -
                           file_profile['total_cpu']) %></td>
      <td><a href="#" class="js-lineprof-file"><%= filename %></a></td>
    </tr>
    <tr class="line-profile">
      <td colspan="4">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Wall</th>
              <th>CPU</th>
              <th>Idle</th>
              <th>Calls</th>
              <th class="fill-column"></th>
            </tr>
          </thead>
          <tr>
            <%
                line_data = @profile.file_sources[filename].split("\n").
                  each_with_index.
                  each_with_object({ :wall  => [],
                                     :cpu   => [],
                                     :idle  => [],
                                     :calls => []}) do |(line, index), data|
                    data[:wall]  << profile_line_wall_time(file_profile, index)
                    data[:cpu]   << profile_line_cpu_time(file_profile, index)
                    data[:idle]  << profile_line_idle_time(file_profile, index)
                    data[:calls] << profile_line_calls(file_profile, index)
                  end
            %>
            <td class="stats">
<pre>
<%- line_data[:wall].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
            </td>
            <td class="stats">
<pre>
<%- line_data[:cpu].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
            </td>
            <td class="stats">
<pre>
<%- line_data[:idle].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
            </td>
            <td class="stats">
<pre>
<%- line_data[:calls].each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= datum %></span>
<%- end -%>
</pre>
            </td>
            <td>
              <%= raw(Pygments.highlight(@profile.file_sources[filename], :lexer => 'ruby')) %>
            </td>
        </table>

      </td>
    </tr>
  </tbody>
  <% end %>
</table>
