<tr>
  <td><%= link_to app.name, app_path(app) %></td>
  <td><%= app.token %></td>
  <td><%=l app.created_at %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_app_path(app),
                :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                app_path(app),
                :method => :delete,
                :class  => 'btn btn-mini btn-danger',
                :data   => { :confirm => t('.confirm',
                                           :default => t("helpers.links.confirm",
                                                         :default => 'Are you sure?'))
                           } %>
  </td>
</tr>
